.form-group label{
    display: block;
}
input{
    margin-top: 5px;
}
.button{
    background-color: blueviolet;
    color: aquamarine;
    border: none;
    border-radius: 2px;
}
img{
    height: 100px;
    width: 100px;
    border:0.5px solid rgb(23, 68, 227);
    border-radius: 3px;
}